/* Basic styles for the website */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    padding: 1em;
    display: flex;
    align-items: center;
}

.pokeball{
    width: 4em;
    height: 4em;
    margin: 0 40px;
}

.titlePage{
    
    flex-grow: 1; 
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
 color: white;
 text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
}
header, nav, main, footer {
    text-align: center;
    


}

header {
    background-color: #ffcb05;
}

nav {
    background-color: #DC0A2D;
    color: white;
    padding: 20px 0; /* Añadir espacio interno arriba y abajo */
    text-align: center;
}
footer {
    background-color: #ccc;
    color: black;
}

nav ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar los elementos del menú horizontalmente */
}


nav li a {
    background-color: white;
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 5px; /* Agregar bordes redondeados a los enlaces */
    margin: 0 10px; /* Añadir espacio entre elementos del menú */
}

#kanto{
    background-color:  #3b4cca;
}
nav li a:hover {
    background-color: #7c071a; /* Cambiar color de fondo al pasar el mouse */
    color: white;
}

main {
    background-color:white;
    padding: 2em 2em;
}

section {
    margin-bottom: 2em;
    background-color:white ;
}

section h2 {
    background-color: black;
    color: white;
    padding: 10px;
}

section p {
    font-size: 20px;
    line-height: 1.6;
}

