/* Basic styles for the website */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    display: flex;
    align-items: center;
}
nav {
    display: flex;
}

.pokeball{
    width: 4em;
    height: 4em;
    margin: 0 40px;
}

.titlePage{
    flex-grow: 1; 
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
 color: white;
 text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
}
header, nav, main, footer {
    text-align: center;
    padding: 1em;


}

header {
    background-color: #ffcb05;
    color: #3b4cca;
}

nav {
    background-color: #3b4cca;
    color: white;
}

footer {
    background-color: #ccc;
    color: black;
}

/* Additional styles for the navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    background-color: white;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #3b4cca;
    color: white;
    padding: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

ul li:hover {
    background-color: #eee;
}
